@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
    transition: .5s;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: fit-content;
    padding: 20px 40px;
    gap: 20px;
    margin: 10px auto;
    font-size: 140%;
    h3{
        margin: 0px;
        margin-right: 30px;
    }
    a{
        &:hover{
            letter-spacing: 3px;
            cursor: pointer;
        }
    }
}
body {
    background-color: rgb(20, 0, 0);
    color: rgb(255, 255, 255);
    background-image: url('/back.png');
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    padding: 0px;
    transition:0s;
    position: relative;  
    min-height: 200vh;
}
.intro{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 400%;
    text-align: center;
    h1{width: 40%;}
    hr{
        border: dotted 3px;
    }
}
.news{
    min-height: 100vh;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    gap: 10px;
    width: 70vw;
    position: relative;
    .main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .card{
            box-shadow:0px 0px 100px ;
            background-color: rgb(255, 255, 255);
            color: rgb(2, 0, 0);
            border: solid rgba(255, 255, 255, 0.289) 1px ;
            color: rgb(255, 255, 255);
            min-height: 400px;
            border-radius: 50px;
            padding: 20px;
            backdrop-filter: blur(13px) ;
            a{
                border: solid 1px rgba(128, 128, 128, 0.59);
                width: fit-content;
                padding: 10px 20px;
                border-radius: 20px;
                display: block;
                margin: 10px 0px;
                color: white;
                text-decoration: none;
                letter-spacing: 2px;
            }
            .title{
                font-size: 230%;
            }
            .content{
                border-radius: 20px;
                margin: 10px 0px ;
                padding: 10px;
                padding-top: 100px;
                font-size: 250%;
                font-weight: 100;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
            } 

        }
        .card.show{
            box-shadow: 0px 0px 0px ;
            background-color: rgba(255, 0, 0, 0);
            color: rgb(255, 255, 255);

        }
    }
    .side{
        border: solid rgba(255, 255, 255, 0.289) 1px;
        border-radius: 20px;
        width: 400px;
        height: fit-content;
        backdrop-filter: blur(5px);
        position: sticky;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        width: 300px;
        flex-wrap: wrap;
        button{
            font-size: 150%;
            width: 100%;
            border-radius: 10px;
            background-color: rgba(2, 0, 0, 0);
            color: white;
            border: solid 1px rgba(128, 128, 128, 0.772);
            font-weight: 100;
            cursor: pointer;
            &:hover{
                background-color: white;
                color: black;
                box-shadow: 0px 0px 10px white;
            }
        }
    }
}
.back{
    position: fixed;
    top:0px;
    z-index: -1;
}
.filter{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(100%) brightness(17%) blur(2px);
    z-index: -2;
}
.loadingpage{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    span{
        border: solid rgb(255, 255, 255);
        border-left:none;
        border-right:none;
        width: 200px;
        aspect-ratio: 1/1;
        border-radius: 100px;
        animation-name: loading;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}
@keyframes loading{
    50%{
        rotate: 360deg;
    }
}


@media(max-width: 700px){
    nav{
        border:solid red;
        background-color: red;
    }
}