@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    transition: .5s;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: fit-content;
    border-radius: 100px;
    padding: 20px 40px;
    gap: 20px;
    margin: 10px auto;
    font-size: 140%;
    h3{
        margin: 0px;
        margin-right: 30px;
    }
    a{
        &:hover{
            letter-spacing: 3px;
            cursor: pointer;
        }
    }
}
body {
    background-color: rgb(20, 0, 0);
    background-image: url('/back.png');
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    padding: 0px;
    transition:0s;
    position: relative;  
    min-height: 200vh;
}
.news{
    min-height: 100vh;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    gap: 10px;
    width: 70vw;
    min-width: 1400px;
    position: relative;
    .main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .card{
            border: solid rgba(255, 255, 255, 0.289) 1px ;
            color: rgb(255, 255, 255);
            min-height: 400px;
            border-radius: 50px;
            padding: 20px;
            backdrop-filter: blur(3px);
            a{
                border: solid 1px rgba(128, 128, 128, 0.59);
                width: fit-content;
                padding: 10px;
                border-radius: 10px;
                display: block;
                margin: 10px 0px;
                color: white;
                text-decoration: none;
                letter-spacing: 2px;
            }
            .title{
                font-size: 130%;
            }
            .content{
                border-radius: 20px;
                margin: 10px 0px ;
                padding: 10px;
                padding-top: 100px;
                background-image: linear-gradient(black red);
                font-size: 250%;
                font-weight: 100;
            } 

        }
    }
    .side{
        border: solid rgba(255, 255, 255, 0.289) 1px;
        border-radius: 20px;
        width: 400px;
        min-width: 400px;
        height: 400px;
        backdrop-filter: blur(5px);
        position: sticky;
        top: 10px;
    }
}
.back{
    position: fixed;
    top:0px;
    z-index: -1;
}
.filter{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(100%) brightness(17%) blur(2px);
    z-index: -2;
}
